body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-image: url("./clock.jpg");
}

h2 {
  margin-top: 250px;
}
